extends layout-base

block content
    p#average-consumption-message You use <span id="average-consumption-result">#{consumptionAverage} litres per every #{averageCountRange} #{unitType}</span> in average.

