extends layout

block content
    form(name="journey-info", method="post")
        div.input
            div.label Fuel (in liters)
                input(type="number", name="fuel")
            div.label Journey driven (in #{units})
                input(type="number", name="length")
        div.action
            input(type="submit", value="Count average")
