doctype html
html
    head
        title Fuel tracker
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Fueltra: fuel tracker.
        p Know how much fuel you spend per every #{unitsNumber} #{unitType}

        block content
